<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="comment.css">
</head>

<body>
    <h1 class="comments__title">Comments</h1>
    <h2 class="news__url"></h2>
    <ul class="comments__list">
        <!-- <div class="comments">
            <h3 class="Author">Author</h3>
            <P class="comment__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui numquam consequuntur perferendis harum eaque facilis ex velit dignissimos dolor necessitatibus ad beatae explicabo sit culpa quae, voluptatibus provident fugiat cumque.
            </P>
        </div> -->
    </ul>
    <template>
        <li class="comment">
            <div class="comment__item">
                <h3 class="author"></h3>
                <p class="comment__text"></p>
            </div>
            <ul class="comment__kids">

            </ul>
        </li>
    </template>
    <script src="../../scripts/comments.js"></script>
    <script type="module" src="../../utils/API.js"></script>;
    <script type="module" src="../../utils/config.js"></script>;
</body>

</html>


<!-- https://validator.w3.org/ -->